/******************* TAG SELECTORS ***************/

body {
  margin-left: : 0;
}


/******************* CLASS SELECTORS ***************/

.btn {
  margin:   50px 400px 50px 400px;
}

.landing-page {
  background-size: 1000px;
  height: 600px;
}

.subtitle {
  text-align: center;
}

.title {
  padding-top: 30px;
  text-align: center;
}

.walk {
  color: orange;
}






/******************* ID SELECTORS ***************/
