<a href="/"><button class="btn btn-secondary" onclick=""><strong>&lt</strong> Back</button></a>

<h1 style="text-align: center;">Active Walkers</h1>
<h5 style="text-align: center;">Reach out to an active walker or make yourself accessible!</h5>

<button type="button" class="btn btn-warning" style="display: block; margin-left: auto; margin-right: auto;">Add Me!</button>
<br>
<button type="button" class="btn btn-warning" style="display: block; margin-left: auto; margin-right: auto;">Already started/remove</button>
<br>

<div class="container">
    <table class="table table-hover" style="text-align: center">
        {% for walker in walkers %}
        <tr>
            <td>{{walker}}</td>
            <td><button type="button" class="btn btn-primary">Contact</button></td>
        </tr>
        {% endfor %}
    </table>
</div>
