<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>

        <title>TigerWalk</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <script class = "button" src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script class = "button" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script class = "button" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <style>
          .form-popup {
            display: none;
            text-align: center;
            margin-top: 20px;
            /* position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
            z-index: 9; */
          }

        </style>
    </head>

    <body>

        <img src="static/logo.jpg" height=35% width=35% style="display: block; margin-left: auto; margin-right: auto;">

        <div class="container">
            <div class="jumbotron" style="padding: 1%;" id="userUI">
                <a href="/"><button class="btn btn-secondary" onclick=""><strong>&lt</strong> Back</button></a>

                <h1 style="text-align: center;">Active Walkers</h1>
                <h5 style="text-align: center;">Reach out to an active walker or make yourself accessible!</h5>

                <!-- a pop up for user to fill in name to be added into walkers -->

                <button type="button" class="btn btn-warning open-button" style="display: block; margin-left: auto; margin-right: auto;" onclick= "return openForm()">Add Me!</button>

                <div class="form-popup" id="myForm">
                  <form action="/seewalkers" class="form-container">
                    <input type="text" placeholder="Enter name here" name="name" required>
                    <button type="submit" class="btn btn-secondary">Submit</button>
                    <button type="button" class="btn btn-outline-secondary cancel" onclick="closeForm()">Close</button>
                  </form>
                </div>

                <br>
                <button type="button" class="btn btn-warning" style="display: block; margin-left: auto; margin-right: auto;" onclick = "return remove()">Remove Me</button>
                <br>

                <div class="container">
                    <table class="table table-hover" style="text-align: center">
                        {% for walker in walkers %}
                        <tr>
                            <td>{{walker}}</td>
                            <td><button type="button" class="btn btn-dark">Contact</button></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <script>
            'use strict';

            function openForm(){
                // var username = '{{username}}';
                // var url = "/seewalkers=" + nam;
                // window.location.href = url;
                document.getElementById("myForm").style.display = "block";
            }

            function closeForm() {
              document.getElementById("myForm").style.display = "none";
            }

            function remove(){
                var username = '{{username}}';
                var url = "/seewalkers?deleteUser=" + username;
                window.location.href = url;
            }
        </script>
    </body>
</html>
