<!DOCTYPE html>
<html>
    <title>
        Active Walkers
    </title>

    <body>
        <link rel="stylesheet"  type="text/css" href="activeWalkers.css">
        <h1>
            Active Walkers
        </h1>
        <h5>
            <!-- need to reword -->
            Reach out to an active walker or make yourself accessible!
        </h5>

        <button class="add">Add Me!</button>
        <button class="remove">Already started/remove</button>

        <!-- list of active walkers here
            for walker : activeWalkers -- connect to flask-->
    </body>
</html>