<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    
    <title>TigerWalk</title>
    <!-- <link rel="stylesheet" href="css/styles.css"> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <script class = "button" src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script class = "button" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script class = "button" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>

  <body>
    <img src="static/logo.jpg" height=35% width=35% style="display: block; margin-left: auto; margin-right: auto;">

    <div class="container">
      <div class="jumbotron" style="padding: 1%;" id="userUI">

        <h2 style="text-align: center;">Find a walking buddy in real-time!</h2>

        <div class="row">
          <!-- <a href = "/seewalkers" style="display: block; margin-left: auto; margin-right: auto;"> -->
            <button class="btn btn-warning" href="/seewalkers" onclick="return seeWalkers()" style="display: block; margin-left: auto; margin-right: auto;">See Walkers</button>
          <!-- </a> -->
        </div>

        <br>
        
        <div class="row">
          <a href = "/myprofile" style="display: block; margin-left: auto; margin-right: auto;">
            <button class="btn btn-warning">My Profile</button>
          </a>
        </div>
        
        <br>
        
        <div class="row">
          <a href = "/map" style="display: block; margin-left: auto; margin-right: auto;">
            <button class="btn btn-warning">Map</button>
          </a>
        </div>

      </div>    
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
    crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <script>

      'use strict';

      let request = null;

      function seeWalkers(){

        let url = "/seewalkers";

        if (request != null){
          request.abort();
        }

        request = $.ajax(
          {
            type: 'GET',
            url: url,
            success: handleResponse
          }
        );
      }

      function handleResponse(response){
        $('#userUI').html(response);
      }

      function handleResponse2(response){
        $('#document').html(response);
      }

    </script>

  </body>
</html>
