body {
    font-family: "Noto Sans JP", "Segoe UI", "Verdana", sans-serif;
    text-align: center;
}

h1 {
    font-size: 36px;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;

    background-color: #e77500; /* Orange */
    border: none;
    border-radius: 15px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

td {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    font-size: 18px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
